<html ng-app="MedApp">

<head>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <user-avatar></user-avatar>
                <div>Firstname Lastname</div>
                <div>email@domainname.com</div>
            </div>
        </md-toolbar>
        <md-list>
            <md-item ng-repeat="item in menu">
                <a>
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
        </md-list>
    </md-sidenav>
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <span flex>
                    <h3>MedApp - Heute</h3>
                </span>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column">
            <md-card>
                <md-card-content>
                    <md-list>
                        <div ng-repeat="m in medis">
                            <md-subheader class="md-no-sticky">{{ m.timename }}</md-subheader>
                            <md-list-item ng-repeat="i in m.items">
                                <p> {{ i.name }} </p>
                                <md-checkbox class="md-secondary" ng-model="i.consumed"></md-checkbox>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content>
                    <h3 class="md-headline">{{appointment.when}}</h3>
                    <p class="md-title">{{appointment.name}}</p>
                    <p>{{appointment.address}}</p>
                    <p>{{appointment.city}}</p>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content layout="column" layout-align="center center">
                    <h2>Kontakt</h2>
                    <user-avatar></user-avatar>
                    <h3>{{who.name}}</h3>
                    <div>{{who.tel}}</div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>



    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="script.js"></script>
</body>

</html>